*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nixie One", sans-serif;
}
body{
        background-color: #ffff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: large;
}

.logo{
    font-size: 29px;
    text-decoration: none;
    color: #910029;
    font-weight: 600;
}

.navbar a{
    position: relative;
    color: #910029;
    font: 18px;
    font-weight: 300;
    margin-left: 35px;
    text-decoration: none;
}

.navbar a::before{
    content:'';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0.5px;
    background: #910029;
    transition: .4s;
}

.navbar a:hover::before{
    width: 100%;
}
  

.rectangle{
    margin-top:6%;
    height: 50px;
    width: 100%;
    /* background-color: #910029; */
    background-image: linear-gradient(to left top, #b20030, #850d2d, #591225, #2f1018, #000000);    position: fixed;
    top: 0;
    z-index: 100;
    justify-content: center; /* Center horizontally */
    align-items: center;
    
}

.rectangle a{
    padding-left: 7.81%; 
    position: relative;
    height: auto;
    width: auto;
    text-align: center;
    color: #ffff;
    font-size: 30px;
    text-decoration: none;
}


